/* Global styles */

.mobile-nav-wrapper {
  position: relative;
  transition: all 500ms ease;
}

.mobile-nav-wrapper.open {
  clip-path: circle(600px at 100% 0%);
  -webkit-clip-path: circle(600px at 100% 0%);
  transition: all 500ms ease;
  pointer-events: all;
}
